
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  font-size: 1.4rem;
  font-family: "TT Lakes", sans-serif;
  font-weight: 400;
  color: #1B1C21;
  background-color: #F8F8F8;
}

.mb-12px {
  margin-bottom: 12px;
}
.mb-24px {
  margin-bottom: 24px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-260px {
  margin-bottom: 260px;
}
.pb-12px {
  padding-bottom: 12px;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

@font-face {
	font-family: 'TT Lakes';
	font-weight: 400;
	font-style: normal;
	src: local('TT Lakes'),
		url('../fonts/TTLakes-Regular.woff') format('woff'),
		url('../fonts/TTLakes-Regular.ttf') format('ttf'),
		url('../fonts/TTLakes-Regular.eot') format('eot');
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 500;
  font-style: normal;
  src: local('TT Lakes'),
  url('../fonts/TTLakes-Medium.woff') format('woff'),
  url('../fonts/TTLakes-Medium.ttf') format('ttf'),
  url('../fonts/TTLakes-Medium.eot') format('eot');
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 700;
  font-style: normal;
  src: local('TT Lakes'),
  url('../fonts/TTLakes-Bold.woff') format('woff'),
  url('../fonts/TTLakes-Bold.ttf') format('ttf'),
  url('../fonts/TTLakes-Bold.eot') format('eot');
}

.wrapper-size {
  margin: 0 auto;
}

.header__wrapper-icons {
  background-color: #ffffff;
  border-bottom: 1px solid #D9FFF5;
  min-height: 88px;
  padding: 0 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper-icons--noborder {
  border:none
}

.header__wrapper-icons--left {
  min-width: 55%;
  display: flex;
  justify-content: space-evenly;
}

.header__wrapper-icons--gap {
  column-gap: 12px;
}

.header__wrapper-icons--right {
  min-width: 45%;
  display: flex;
  justify-content: space-evenly;
}

.header__wrapper-icons--justify-end {
  justify-content: end;
}

.header__wrapper-title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 5px;
}

.header__higlight {
  margin-right: 10px;
}

.header__wrapper-text {
  display: flex;
  gap: 32px;
  padding-right: 32px;
}

.header__button--flex {
  display: flex;
  gap: 16px;
}

.button {
  padding: 5px;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  transition: all 1s ease-out;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.button:focus, .nav__link:focus, .burger-nav__link:focus, .nav__link--active {
  border: 2px solid #B8FFEC;
  border-radius: 10px;
  background-color: #ffffff;
}

.feedback__button:focus, .call__button:focus, .service-card__button:focus, .service-desctop__button:focus {
  background-color: #FF3E79;
  border-radius: 20px;
}

.header__title {
  font-weight: 700;
  font-size: 2.6rem;
  white-space: nowrap;
  overflow: hidden;
}

.header__item-title--nonvisible {
  visibility: hidden;
  display: none;
}

.unactive-menu {
  display: none;
}

.header__nav {
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: #ffffff;
  width: 320px;
  height: 100%;
  box-shadow: 0 10px 30px#3e3e42;
}

.nav-white-background {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 320px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
}

.burger-nav__list {
  margin-bottom: 32px;
}

.burger-nav__item {
  list-style-type: none;
  margin-bottom: 32px;
  padding-left: 12px;
  transition: all 1s ease-out;
}

.burger-nav__item:hover {
  transform: scale(1.1);
}

.burger-nav__link {
  text-decoration: none;
  outline: none;
  color: #1B1C21;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 12px;
  transition: filter 1s;
}

.burger-nav__link:hover {
  filter: opacity(40%);
}

.burger-nav__item:last-child {
  margin-bottom: 0px;
}

.burger-nav__link--active {
  position: relative;
  color: #7E7E82;
}

.burger-nav__link--active::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 0px;
  width: 4px;
  height: 100%;
  background-image: url(../icons/highlight.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.burger-nav__footer {
  margin-left: 24px;
}

.burger-nav__icons-wrapper {
  display: flex;
  column-gap: 10px;
}

.email {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
}

.number {
  display: block;
  font-weight: 700;
  font-size: 2.4rem;
}

.language__item {
  font-weight: 500;
  font-size: 1.6rem;
}

.language__item--active {
  color: #7E7E82;
}

.nav__list {
  display: flex;
  overflow: auto;
  margin: 0 16px;
  -webkit-mask-image: linear-gradient(90deg, transparent,#000 .5rem calc(100% - 5rem), transparent);
}

.nav__item {
  padding: 12px 0px;
  list-style-type: none;
  transition: all 1s ease-out;
}

.nav__item:hover {
  transform: scale(1.1);
}

.nav__item:first-child {
  margin-left: 0.2rem;
}

.nav__link {
  text-decoration: none;
  color: #7E7E82;
  font-weight: 500;
  font-size: 1.6rem;
  white-space: nowrap;
  outline: none;
  padding: 10px 15px;
}

.feedback {
  position: fixed;
  z-index: 8;
  top: 0;
  background-color: #ffffff;
  min-width: 320px;
  max-width: 440px;
  height: 100%;
  box-shadow: 0 10px 30px#3e3e42;
  padding: 24px 16px;
}

.feedback__title {
  font-size: 2.4rem;
  font-weight: 700;
}

.feedback__wrapper-title {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.feedback__higlight {
  transform: translateX(-16px);
}

.feedback__text {
  font-weight: 500;
  color: #7E7E82;
}

.pink{
  color: #FF3E79;
}

.feedback__button-wrapper {
  display: flex;
  justify-content: end;
}

.feedback__button {
  width: 120px;
  height: 32px;
  background-color: #FF3E79;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}

input[type=text], input[type=tel], input[type=email], textarea {
  padding: 12px 16px;
  margin-bottom: 16px;
  border: 2px solid #EAEAEA;
  border-radius: 10px;
  width: 100%;
}

.call {
  position: fixed;
  z-index: 8;
  top: 0;
  background-color: #ffffff;
  min-width: 320px;
  max-width: 440px;
  height: 100%;
  box-shadow: 0 10px 30px#3e3e42;
  padding: 24px 16px;
}

.call__title {
  font-size: 2.4rem;
  font-weight: 700;
}

.call__wrapper-title {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.call__higlight {
  transform: translateX(-16px);
}

.call__text {
  font-weight: 500;
  color: #7E7E82;
}

.pink{
  color: #FF3E79;
}

.call__button-wrapper {
  display: flex;
  justify-content: end;
}

.call__button {
  width: 120px;
  height: 32px;
  background-color: #FF3E79;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}





.section, footer {
  border-top: 1px solid #D9FFF5;
  padding-left: 16px;
  margin-bottom: 24px;
  /* padding-right: 14px; */
}

.section-one {
  margin-bottom: 24px;
}

.section-one__text {
  padding: 0 16px;
}

.btn-down{
  padding: 8px;
  margin-bottom: 12px;
}

.ic-down {
  margin-right: 8px;
}

.btn-text {
  font-weight: 500;
  font-size: 1.6rem;
}

.section-one__wrapper-img {
  text-align: center;
}

.section-one__img {
  max-width: 100%;
}

.section-two__title-wrapper, .section-three__title-wrapper, .section-four__title-wrapper {
  padding: 16px 0;
  margin-bottom: 16px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  display: flex;
  align-items: center;
}

.section-two__title, .section-three__title, .section-four__title {
  color: #7E7E82;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
}

.brand-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
  overflow: hidden;
}

.brand-card {
  flex-basis: 240px;
  height: 72px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.link-go {
  outline: none;
  transition: all 1s ease-out;
}

.link-go:hover {
  transform: scale(1.15);
}

.link-go:focus {
  border: 2px solid #B8FFEC;
  border-radius: .5em;
  background-color: #ffffff;
}

/* swiper */
.swiper-container {
  padding-bottom: 40px;
  -webkit-mask-image: linear-gradient(90deg, transparent,#000 .5rem calc(100% - 1rem), transparent);
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #979797;
}
/* swiper */

.type-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
  overflow: hidden;
}

.type-card {
  flex-basis: 240px;
  height: 160px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.type-card__text {
  font-weight: 500;
  font-size: 1.6rem;
}

 .link-go--bottom {
  align-self: flex-end;
 }

.service-nonedisplay {
  display: none;
}

.service-card {
  flex-basis: 260px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
}

.service-card__text--title {
  font-weight: 500;
  color: #7E7E82;
  margin-bottom: 4px;
}

.service-card__text--description {
  font-weight: 400;
  margin-bottom: 16px;
}

.service-card__button {
  width: 120px;
  height: 32px;
  background-color: #FF3E79;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.service-desctop__title {
  font-weight: 500;
  color: #7E7E82;
}
 
.service-desctop__wrapper {
  min-width: 720px;
  background-color: white;
  border-radius: 10px;
}

.service-desctop__row {
  padding: 23px 16px;
  display: flex;
  width: 100%;
  position: relative;
}

.service-desctop__row--start {
  width: 50%;
}
.service-desctop__row--center {
  width: 15%;
}

.service-desctop__hr {
  width: 96%;
  height: 1px;
  color: #EAEAEA;
  background-color: #EAEAEA;
  border: none;
  position: absolute;
  bottom: 0;
  left: 2%;
}

.service-desctop__button {
  width: 120px;
  height: 32px;
  background-color: #FF3E79;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 16px; 
}

.section-four__footer {
  padding-right: 10px;
}

.section-four__footer--text {
  max-width: 421px;
}

.button-arrow-right {
  padding-right: 20px;
  transform: translateX(-5px);
  text-align: start;
}

 .btn-arrow-right::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 27px;
  background-image: url(../icons/ic-right.svg);
  transform: translateY(-4px);
}

.footer {
  height: 130px;
  padding-top: 16px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #7E7E82;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 440px) {
  .feedback-white-background, .call-white-background {
    position: fixed;
    z-index: 7;
    top: 0;
    right: 440px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
  }
  .feedback, .call {
    padding: 24px 32px;
  }
  .feedback__higlight, .call__higlight {
    transform: translateX(-32px);
  }
}

@media (min-width: 520px) {
  .feedback-on, .call-on {
    position: absolute;
    top: 44px;
    right: 460px;
    z-index: 8;
  }
}

@media (max-width: 767px) {
  .header__item--nonvisible {
    visibility: hidden;
    display: none;
  }
  .section-one__item--nonvisible--s {
    visibility: hidden;
    display: none;
  }
  .section-one__item--nonvisible--s-and-m {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 768px) {
  .header__wrapper-icons--left {
    min-width: 25%;
  }
  .header__wrapper-icons--right {
    min-width: 40%;
  }
  .header__wrapper-title {
    gap: 12px;
  }
  .nav__list {
    margin: 0 24px;
  }
  .burger-nav__list {
    margin-bottom: 24px;
  }
  .section-one__item--nonvisible--s-and-m {
    visibility: hidden;
    font-size: 0px;
  }
  .section-one {
    display: flex;
    justify-content: space-between;
  }
  .section-one__text {
    max-width: 50%;
    padding: 0 24px;
  }
  .section-one__img {
  border-radius: 1rem;
  padding-right: 16px;
  }
  .section, footer {
    padding-left: 24px;
    margin-bottom: 32px;
  }
  .brand-wrapper, .type-wrapper {
    column-gap: 24px;
  }
  .section-two__title-wrapper, .section-three__title-wrapper, .section-four__title-wrapper {
    margin-bottom: 24px;
  }
  .brand-card, .type-card {
    flex-basis: 224px;
  }
  .footer {
    flex-direction: row;
  }
  .footer__text--start {
    text-align: start;
    flex-basis: 30%;
  }
  .footer__text--center {
    text-align: center;
    flex-basis: 30%;
  }
  .footer__text--end {
    text-align: end;
    flex-basis: 31%;
  }
  .wrapper-size {
    max-width: 1120px;
  }
}

@media (max-width: 1439px) {
  .header__nav {
    left: 0;
  }
  .feedback, .call {
    right: 0;
  }
}

@media (min-width: 1440px) {
  .wrapper-size {
    padding-top: 60px;
  }
  .section-one__item--nonvisible--s-and-m {
    visibility: visible;
    font-size: 1.4rem;
  }
  .header__wrapper-icons--nonvisible--d {
    display: none;
  }
  .header__wrapper--desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  .header__wrapper-title {
    padding: 0;
    margin: 0;
    gap: 24px;
  }
  .header__item-title--nonvisible {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-one__text {
    padding: 0 32px;
  }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 32px;
    padding: 0px;
    padding-top: 2px;
    row-gap: 10px;
  }
  .section-one__img {
    transform: translateY(-20px);
  }
  .section, footer {
    padding-left: 32px;
  }
  .brand-wrapper, .type-wrapper {
    column-gap: 32px;
  }
  .brand-card, .type-card {
    flex-basis: 240px;
  }
  .brand-wrapper, .type-wrapper {
    justify-content: start;
  }
  .unactive-menu--desktop {
    display: block;
  }
  .nav-white-background {
    display: none;
  }
  .feedback-white-background, .call-white-background {
    width: 1000px;
    height: 100%;
  }
  .wrapper-size {
    position: relative;
    left: 160px;
  }
  .header__nav {
    top: 0px;
    transform: translateX(-320px);
    box-shadow: none;
  }
  .hamburger-on {
    display: none;
  }
  .feedback, .call {
    top: 0px;
    transform: translateX(680px);
    box-shadow: none;
  }
}




